.app {
  display: flex;
  flex-direction: column;
  margin: 10rem;
}

.args {
  margin-bottom: 20px;
  /* display: flex;
  flex-direction: column; */
}
.and_or__operations {
  width: 150px;
  height: fit-content;
}
.and_or__selector {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ops {
  margin: 0 20px;
}
